@using T3.Core.Domain
@model IList<Employee>

<ul class="nav nav-pills nav-stacked" style="margin-bottom: 5%">
    @if (TempData["filteredEmployeeId"] == null)
    {
        <li class="active">
            <a asp-action="Index">Alle rekeningen</a>
        </li>

        @foreach (Employee Employee in Model)
        {
            <li>
                <a asp-action="Filter" asp-route-employeeId="@Employee.Id">@Employee.Name</a>
            </li>
        }
    }
    else
    {
        <li>
            <a asp-action="Index">Alle rekeningen</a>
        </li>

        @foreach (Employee Employee in Model)
        {
            @if (TempData["filteredEmployeeId"].Equals(Employee.Id))
            {
                <li class="active">
                    <a asp-action="Filter" asp-route-employeeId="@Employee.Id">@Employee.Name</a>
                </li>

            }
            else
            {
                <li>
                    <a asp-action="Filter" asp-route-employeeId="@Employee.Id">@Employee.Name</a>
                </li>
            }
        }
    }
</ul>